/*! RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*! BODY*/
/*TODO 1: SET STYLE FOR NAVBAR*/
nav {
	margin-bottom: 8px;
	background-color: orange;
}

a.nav-link {
	color: black;
	font-weight: 500;
}

/*TODO 2: SET STYLE FOR TITLE AND SLIDESHOW*/
.div-title {
	max-width: 900px;
	margin: 55px auto 10px;
	padding: 24px;
}

.div-title > .row h1 {
	color: orange;
	margin: 0;
}

.div-title > .row p {
	color: orange;
	font-style: italic;
	font-size: 20px;
}

.div-title > .row-carousel {
	margin: 5px auto;
	max-width: 882px;
}

.carousel-item > img {
	max-width: 852px;
}

/*TODO 3: SET STYLE FOR INTRODUCTION*/
.div-header {
	margin: 5px auto;
	padding: 24px;
	max-width: 900px;
}

.div-header > .row h3 {
	color: orange;
	padding-bottom: 8px;
	border-bottom: 1px solid orange;
}

.row-info {
	margin-top: 16px;
}

.row-info > div {
	border: 1px solid orange;
	padding: 20px;
}

.row-info > div:nth-child(1) {
	background-color: lightgoldenrodyellow;
}

.row-info > div:nth-child(2) {
	background-color: yellow;
}

.row-info > div:nth-child(3) {
	background-color: lightsalmon;
}

.row-info > div:nth-child(4) {
	background-color: orange;
}

.row-info p {
	font-size: 14px;
	font-weight: 500;
}

/*TODO 4: SET STYLE FOR CHOOSE PIZZA SIZE*/
.div-header > .row > .col-12 > p {
	color: orange;
}

.card {
	width: 285px;
}

.card-header {
	background-color: orange;
}

.card-footer > button {
	font-weight: 500;
	background-color: orange;
}

/*TODO 5: SET STYLE FOR CHOOSE PIZZA TYPE*/
.row-card {
	margin-top: 16px;
}

.card-body > p {
	font-size: 14px;
}

.card-body > button {
	font-weight: 500;
	background-color: orange;
}

/*TODO 6: SET STYLE FOR CHOOSE DRINK*/
.row-select {
	margin-top: 16px;
}

/*TODO 7: SET STYLE FOR SECTION SEND ORDER*/
.row-form {
	margin-top: 16px;
}

#btn-send {
	background-color: orange;
	font-weight: 500;
}

/*! FOOTER*/
/*TODO 8: SET STYLE FOR FOOTER SECTION*/
footer {
	background-color: orange;
	height: 220px;
	vertical-align: middle;
}

.div-content {
	margin: 5px auto;
	padding-top: 22px;
	text-align: center;
}

.div-content > h4 {
	padding: 8px;
}

.div-content > button {
	margin-bottom: 16px;
	background-color: rgb(80, 78, 78);
	color: white;
}

.div-content > div:nth-child(3) {
	padding: 5px;
}

.div-content > div:nth-child(4) {
	margin-top: 5px;
	font-weight: bold;
	letter-spacing: 1px;
}

/*TODO 9: TẠO PHẦN MODAL CHO TRANG WEB*/
.order-code-box {
	background-color: orange;
}

#create-order-modal > .modal-dialog {
	max-width: 820px;
	margin-top: 200px;
}

.order-code-box > h4 {
	margin-bottom: 30px;
}

/*! ORDER LIST*/
#detail-modal > .modal-dialog {
	max-width: 1000px;
}
.form-detail-order,
.btn-row {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
}
.row-modal {
	margin: 10px;
}
.form-detail-order .row {
	width: 460px;
	align-items: center;
	margin-bottom: 20px;
}
.col-sm-4 > label {
	margin-bottom: 0;
}
.col-sm-8 {
	padding: 0;
}
.btn-row {
	column-gap: 10px;
	padding: 5px 10px;
}
